<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<a href="{% url 'students:create' %}">create student</a><br>
<a href="{% url 'students:show' %}">show all students</a><br>
<hr>
<a href="{% url 'teachers:create' %}">create teacher</a><br>
<a href="{% url 'teachers:show_filtered' %}">show all teachers</a><br>
<hr>
<a href="{% url 'groups:create' %}">create group</a><br>
<a href="{% url 'groups:show' %}">show all groups</a><br>
<hr>
<a href="{% url 'teachers:show_logs' %}">show admin logs</a><br>

</body>
</html>